/*
Eric Meyer’s “Reset CSS” 2.0
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
====================================================================================
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Typography Stylings
====================================================================================
*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
	color: #9F1897;
}

h2 {
	font-weight: 900;
}

/*
Common Stylings
====================================================================================
*/

* {
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.container {
	width: 100%
}

img {
	width: 100%
}

ul {
	list-style: none
}

select {
	border: none
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out
}

/*
Header Stylings
====================================================================================
*/

/* Side Navigation */

.side-nav {
	width: 66px;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #626262;
	text-align: center;
}

.side-nav__share {
	padding: 20px;
}

.side-nav__share:hover {
	background-color: #3C3C3C;
}

.side-nav__arrow {
	background-color: #3C3C3C;
	padding: 25px;
}

.side-nav nav {
	margin: auto 0;
}

.side-nav nav li a {
	display: block;
	padding: 10px;
}

.side-nav nav li a:hover {
	background-color: #3C3C3C;
}